site_name: Graphcore Research

nav:
  - Blog: index.md
  - About: about.md

docs_dir: pages

theme:
  name: material
  custom_dir: templates
  features:
    - content.code.copy

extra_css:
  - custom.css

hooks:
  - hooks/notebook_to_markdown.py

plugins:
  - blog: {blog_dir: "."}
  - search

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
