{% assign posts = site.posts | where_exp: "item", "item.potm_month == page.potm_month" | where_exp: "item",
"item.potm_year == page.potm_year" | where_exp: "item", "item.category != 'papers-of-the-month'" | sort: "paper_order"
%}

{% assign review_authors = posts | map: 'review_author' %}
{% assign review_authors = review_authors | uniq %}

<p class="page__taxonomy">
    <strong><i class="fas fa-fw fa-users" aria-hidden="true"></i> Reviews by:</strong>
    <span itemprop="keywords">
        {% for author in review_authors %}
        <a href="{{ author.link }}" rel="nofollow noreferrer" target="_blank">{{ author.name }}{% unless forloop.last %}</a><span class="sep">, </span>{%
        endunless %}
        {% endfor %}
    </span>
</p>