---
---

@import "minimal-mistakes";

.page__content {
    font-size: 16px;
}

@media (min-width: 80em) {
    .page {
        float: right;
        width: calc(100% - 300px);
        padding-right: 200px;
    }
}

h2 {
    font-size: 1.6em;
}

figcaption {
    font-size: 1em;
}

.toc__menu {
    font-size: 0.8em
}

.toc .nav__title {
    font-size: 1em;
}

.toc__menu li ul {
    display: none
}