---
---

@import "minimal-mistakes";

.page__content {
    font-size: 16px;
}

@media (min-width: 80em) {
    .page {
        float: right;
        width: calc(100% - 300px);
        padding-right: 200px;
    }
}

h2 {
    margin-top: 1.5em;
}

a {
    color: #53595e;
}

a:visited {
    color: #53595e;
}

figcaption {
    font-size: 1em;
    padding-bottom: 1em;
}

.toc__menu {
    font-size: 0.8em
}

.toc .nav__title {
    font-size: 1em;
}

.toc__menu li ul {
    display: none
}

.page__content .paper__taxonomy {
    font-size: 0.95em;
    margin-top: 0.5em;
}

.page__taxonomy-item {
    padding: 2px 10px;
}

.page__meta .page__taxonomy {
    margin-bottom: 0.5em;
}

.page__taxonomy .sep {
   display: inline;
}

.page__footer {
    padding-bottom: 1.1em;
}

#analytics-cookie {
    padding-top: 0.3em;
    background-color: #e6e6e6;
    text-align: center;
    font-size: 0.6em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#analytics-cookie .btn {
    display: inline-block;
    font-size: 1em;
}

.constrained_img_small {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}

.constrained_img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
}

.constrained_img_large {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
}

.page__meta a:hover {
    color: #1f2021;
}

.fa-envelope {
    color: #ff6f79 !important;
}

.subscribe-btn-wrapper {
    font-size: 16px;
    margin-top: 1em;
}

.subscribe-btn-wrapper .subscribe-btn {
    max-width: 320px;
    display: block;
    font-family: "Graphik-Medium", sans-serif;
    padding: 10px 15px;
    background: #ff6f79;
    color: #ffffff;
    opacity: 75%;
    transition: opacity 0.2s ease-in-out;
    text-decoration: none !important;
    border-radius: 4px;
}

.subscribe-btn-wrapper .subscribe-btn:hover {
    text-decoration: none !important;
    opacity: 100%;
}

.subscribe-btn-wrapper:after {
    content: '→';
    color: #ffffff;
    position: relative;
    font-size: 1.3em;
    transition: left ease-out .3s;
    left: 5em;
    bottom: 38px;
    pointer-events: none;
}

.subscribe-btn-wrapper:hover:after {
    left: 5.2em;
}

.page table {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.page summary {
    font-weight: bold;
    font-size: 90%;
    color: #777;
    margin-bottom: 0.5em;
    cursor: pointer;
}

@media (min-width: 80em) {
    .sidebar__right.sticky {
        width: 235px;
        margin-right: -235px;
    }
}

@media (min-width: 90em) {
    .sidebar__right.sticky {
        width: 300px;
        margin-right: -300px;
    }
}

.publications-wrapper h2 {
    margin-top: 0em;
    margin-bottom: 0.4em;
    padding-bottom: 0.2em;
    font-size: 1.6em;
}

.publications-wrapper h3 {
    font-size: 1.25em;
    margin: 0.5em 0em 0.5em 0;
}

.paper-entry-link {
    text-decoration: none;
    color: inherit;
    padding: 1em;
    display: block;
    background-color: #FAF8F9;
    margin: 0em 0em 0.8em 0;
}

.paper-entry-link:visited {
    color: inherit;
}

.paper-entry-link:hover {
    background-color: #fff0f4;
    text-decoration: none;
    color: inherit;
}

.paper-entry a {
    text-decoration: underline;
}

.paper-entry a:hover {
    color: inherit;
}

.paper-entry .abstract {
    margin: 2em 0em 2em 0;
}

.paper-entry a:hover, .paper-entry-link:hover {
  text-decoration: none !important;
}

.paper-entry .abstract {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.5em;
}

.paper-entry .authors {
    opacity: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 4.5em;
}

.paper-entry .published {
    opacity: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 4.5em;
    margin-top: 1em;
    font-size: small;
}

.toggle-link a i {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.toggle-link a:hover i {
  text-decoration: none !important;
  transform: translate(0em, 0.2em);
}

.toggle-link a {
  display: inline-flex;
  align-items: center;
  gap: 0;
  text-decoration: none;
}

.toggle-link a:hover {
  text-decoration: none !important;
}

.toggle-link i {
  color: #ff6f7a;
  font-size: 23px;
}

.more-papers {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.65s ease;
}
