---
---

@import "minimal-mistakes";

.page__content {
    font-size: 16px;
}

@media (min-width: 80em) {
    .page {
        float: right;
        width: calc(100% - 300px);
        padding-right: 200px;
    }
}

h2 {
    margin-top: 1.5em;
    font-size: 1.6em;
}

figcaption {
    font-size: 1em;
    padding-bottom: 1em;
}

.toc__menu {
    font-size: 0.8em
}

.toc .nav__title {
    font-size: 1em;
}

.toc__menu li ul {
    display: none
}

.page__content .paper__taxonomy {
    font-size: 0.95em;
    margin-top: 0.5em;
}

.page__taxonomy-item {
    padding: 2px 10px;
}

.page__meta .page__taxonomy {
    margin-bottom: 0.5em;
}

.page__taxonomy .sep {
   display: inline;
}

.page__footer {
    padding-bottom: 1.1em;
}

#analytics-cookie {
    padding-top: 0.3em;
    background-color: #e6e6e6;
    text-align: center;
    font-size: 0.75em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#analytics-cookie .btn {
    display: inline-block;
    font-size: 1em;
}

.author__avatar img {
    border-radius: 0;
    border: none;
}

.fa-envelope {
    color: #ff6f79 !important;
}

.subscribe-btn-wrapper {
    font-size: 16px;
    margin-top: 1em;
}

.subscribe-btn-wrapper .subscribe-btn {
    max-width: 320px;
    display: block;
    font-family: "Graphik-Medium", sans-serif;
    padding: 10px 15px;
    background: #ff6f79;
    color: #ffffff;
    opacity: 75%;
    transition: opacity 0.2s ease-in-out;
    text-decoration: none !important;
    border-radius: 4px;
}

.subscribe-btn-wrapper .subscribe-btn:hover {
    text-decoration: none !important;
    opacity: 100%;
}

.subscribe-btn-wrapper:after {
    content: '→';
    color: #ffffff;
    position: relative;
    font-size: 1.3em;
    transition: left ease-out .3s;
    left: 5em;
    bottom: 38px;
    pointer-events: none;
}

.subscribe-btn-wrapper:hover:after {
    left: 5.2em;
}
