---
title: "About Us"
data: .authors.yml
---

<h1>
    About Graphcore Research
    <div class="about-links">
        <a href="https://x.com/GCResearchTeam" title="Twitter" aria-label="Twitter"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.graphcore.ai/graphcore-research-newsletter-1" title="Newsletter Sign-Up" aria-label="Newsletter Sign-Up"><i class="fa-solid fa-envelope" aria-hidden="true"></i></a>
        <a href="https://github.com/graphcore-research" title="GitHub" aria-label="GitHub"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
        <a href="/publications/" title="Our Papers" aria-label="Our Papers"><i class="fa-solid fa-book" aria-hidden="true"></i></a>
    </div>
</h1>

Graphcore Research participates in both fundamental and applied research, to characterise the computational requirements of machine intelligence and to demonstrate how hardware can drive the next generation of innovative AI models.

Although we often focus on where AI algorithms meet hardware considerations, we're deeply interested in the whole stack - from the energy efficiency of different number formats in hardware, through the manner of expressing computation & distributed processing using software tools, to the deep learning model architectures, optimisers and training objectives that are a key component in multiple AI applications. And since hardware development requires forward planning, we want to know what is coming next.

We publish at leading AI/ML conferences (NeurIPS, ICML, ICLR) as well as specialist workshops, and collaborate with other research teams and organisations across the world. We pride ourselves on being a supportive and collaborative team, where we organise around our individual research interests to solve problems together in domains such as efficient compute, model scaling and distributed training and inference of AI models for multiple modalities and applications, including for sequence- and graph-based data.

We're based in the UK, in London, Bristol and Cambridge.

To learn more about the Graphcore Research team and the work we've been doing, check out our recent <a class="linkpill" href="/publications/">papers</a>
and
<a class="linkpill" href="https://github.com/graphcore-research"><i class="fa-brands fa-github" aria-hidden="true"></i> GitHub</a>.

## Meet the Team

<div class="about-authors-grid">
    {% for id, author in data.authors.items() | sort(attribute='1.name') %}
    {% if author.team != "Alumni" %}
    <div class="author-card">
        <a href="/author/{{ id }}">
            <img src="/{{ author.avatar }}" alt="{{ author.name }}" class="md-author">
        </a>
        <h3><a href="/author/{{ id }}">{{ author.name }}</a></h3>
        <p>{{ author.description }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
