/* Local webfonts (Graphik) */

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Medium-Web.woff2') format('woff2'),
    url('fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* General styling */

:root {
  --md-primary-fg-color: #ff6d81;
  --md-accent-fg-color: #53595e;
  --md-text-font: 'Graphik', 'Roboto', sans-serif;
}

html {
  /* Default is a bit large, reduce it here */
  font-size: 20px;
}

.linkpill {
  white-space: nowrap;
}

.md-nav {
  font-size: 0.75rem;
}

/* Consent overrides */

.md-consent__overlay {
  display: none;
}

.md-consent__form {
  font-size: 0.7rem;
  padding: 0;
}

/* Footer */

.md-footer {
  background-color: #444;
  color: white;
}

.md-footer-meta>* {
  padding: 0;
}

/* Hiring Banner */

.hiring-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
}

.hiring-banner a {
  cursor: pointer;
  z-index: 1000;
  user-select: none;
  padding: 0.25em;
}

.hiring-banner i {
  color: var(--md-primary-bg-color);
  cursor: pointer;
}

/* Hiring Banner > (little dance to make put the title over the banner, but keep the banner clickable) */

.md-header__inner {
  pointer-events: none;
}

.md-header__inner>* {
  pointer-events: auto;
}

.md-header__title {
  pointer-events: none;
}

.md-header__topic {
  background-color: var(--md-primary-fg-color);
  padding-right: 0.4em;
  box-shadow: 5px -5px 5px var(--md-primary-fg-color);
}

/* Publications page > Filters */

.paper-area-filter {
  cursor: pointer;
  font-weight: bold;
  color: #666;
  padding: 0.2rem 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.paper-area-filter.active {
  background-color: #ffdce1;
}

.paper-area-showing {
  display: block;
  margin-top: 0.5rem;
  font-style: italic;
  color: #666;
}

/* Publications page > Main content */

.paper-sep-year {
  color: #888;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin: 0.5rem 0 0.75rem;
  padding-bottom: 0.15rem;
}

.paper-entry-link {
  font-size: 0.9em;
  margin: 0 0 0.8em 0;
  padding: 0.75em;
  text-decoration: none;
  color: inherit;
  display: block;
  color: #333 !important;
  background-color: #faf8f9;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.paper-entry-link:hover {
  color: #000 !important;
  background-color: #fff0f4;
  text-decoration: none;
}

.paper-entry .title {
  display: block;
  margin: 0 0 0.8em 0;
  font-size: 1.2em;
  font-weight: bold;
}

.paper-entry .abstract,
.paper-entry .authors,
.paper-entry .published {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paper-entry .abstract {
  margin: 0 0 0.75em 0;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.paper-entry .authors {
  margin: 0 0 0.5em 0.75em;
  font-size: 0.85em;
  opacity: 0.75;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.paper-entry .published {
  font-size: 0.85em;
  font-style: italic;
  opacity: 0.75;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}